*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

main {
  width: 500px;
  height: 600px;
  border: 1px solid black;
  margin: 5em auto;
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  text-align: center;
  /* position: relative; */
}

/**
 * Look at the selectors defined below.
 * Position each element so that its placement matches the name of the selector.
 * Adjust the rule sets for each selector to achieve the correct positioning.
 *
 * @example
 * .box--top-left -> This element should be placed in the top-left corner.
 */

.box--top-left {
  background-color: #aed6f1;
}

.box--top-right {
  background-color: #5dade2;
  position: absolute;
  top: 0;
  right: 0;
}

.box--bottom-left {
  background-color: #2874a6;
  position: absolute;
  bottom: 0;
}

.box--bottom-right {
  background-color: #1b4f72;
  position: absolute;
  bottom: 0;
  right: 0;
}
